:root {
  font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
